body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

#header{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 10%;
} 

.header-part{
    width: 50%;
    padding-left:5% ;
}
.text-color{
    color: orange;
}
.link-color{
    padding: 10px 40px;
    text-decoration:none ;
    background-image: linear-gradient(red,yellow);
    border-radius: 10px;
    color: #000000;
    font-size: medium;
}
.header-part h1{
    font-size: 45px;
}
.header-part img{
    width: 100%;
}

#dream-area{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.dream-area-part{
    width: 50%;
    padding-right: 5%;
}
.dream-area-part img{
    width: 100%;
}

#experiences-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding: 4%;
}
.exp-color{
    margin-bottom: 50px;
    font-size: 35px;
}
.experiences-part{
    display: flex;
}
.experiences-part h3{
    color: #FEAE2A;
    
}
.experiences-part div{
    height: 80%;
    margin: 20px;
}
#full-stack{
    box-shadow: 4px 8px 40px #a8683d;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #52b5ee, #3c00ff);
    border-image-slice: 1;
    padding: 10px 20px 10px 20px;
}
#baby-web{
    box-shadow: 4px 8px 40px #a8683d;
    border-left: 7px solid;
    border-image: linear-gradient(180deg, #fa733e, #FFC51E);
    border-image-slice: 1;
    padding: 10px 20px 10px 20px;

}

footer p{
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}